<form class="register"*ngIf="newUserForm" [formGroup]="newUserForm"  (ngSubmit)=" registerUser()">
  <h1> Enregistrer un nouveau collaborateur : </h1>
  <hr>
  <mat-form-field>
    <mat-label for="firstname">  Nom de famille:  </mat-label>
    <input matInput  id="firstname" type="text" formControlName="firstname">
  </mat-form-field>

  <mat-form-field>
    <mat-label for="lastname"> Prénom :  </mat-label>
    <input matInput id="lastname" type="text" formControlName="lastname">
  </mat-form-field>

  <mat-form-field>
    <mat-label for="Username"> Username :  </mat-label>
    <input matInput id="Username" type="text" formControlName="Username">
  </mat-form-field>

  <mat-form-field>
    <mat-label for="Email"> Email : </mat-label>
    <input matInput id="Email" type="text" formControlName="Email">
  </mat-form-field>

  <mat-form-field>
    <mat-label for="Password"> Mot de passe : </mat-label>
    <input matInput id="Password" type="text" formControlName="Password">
    <mat-hint >
      Password must have :
      <ol> One or more special charaters </ol>
      <ol> One or more Upper case letter </ol>
      <ol> One or more Lower case letter </ol>
      <ol> One or more number case  </ol>
    </mat-hint>
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit">Enregistrer un nouveau utilisateur</button>
</form>

