<div class="maintab">
  <!-- Show it when there is no employee -->
  <div *ngIf="WhData.length == 0">
    <p> Il y a aucune entrée dans l'entrepot .</p>
  </div>
  <div *ngIf="WhData.length !== 0">
    <h1 class="mb-3 text-center">
      Entrée dans l'entrepot
      <button id="excel" mat-flat-button color="primary" type="button" (click)="exportExcel()" > <mat-icon> import_export</mat-icon>  Générer un Excel </button>
      <button id="new" mat-flat-button color="primary" type="button" [routerLink]="['/warehouse/newWarehouse']"><mat-icon>create</mat-icon> Ajouter une Entrée </button>
    </h1>
    <div class="col-md-12">
      <div id="search_bar">
        <div class="search_quotations">
          Recherche :
          <input type="text" name="search" [(ngModel)]="searchWarehouse" placeholder="Rechercher entrée entrepot" >
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col"> N° Entrée </th>
          <th scope="col"> Référence du container </th>
          <th scope="col"> Nombre de packet  </th>
          <th scope="col"> Poids </th>
          <th scope="col"> Dimension  </th>
          <th scope="col"> Adresse </th>
          <th scope="col"> Ville </th>
          <th scope="col"> Code Postal </th>
          <th scope="col"> Date entrée </th>
          <th scope="col"> Date de sortie </th>
          <th scope="col"> Remarque </th>
          <th scope="col"> Action: </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let wh of WhData | filter:searchWarehouse">
          <td> {{  wh.id_warehouse }} </td>
          <td> {{ wh.ref_nummer }} </td>
          <td> {{ wh.number_package }} </td>
          <td> {{ wh.weight }}</td>
          <td> {{ wh.dimension }} </td>
          <td> {{ wh.adress }} </td>
          <td> {{ wh.city }} </td>
          <td> {{ wh.postal_code }} </td>
          <td> {{ wh.inbound_date | date:'M/d/yy' }} </td>
          <td> {{ wh.outbound_date | date:'M/d/yy' }} </td>
          <td> {{ wh.remarks }} </td>
          <td>
            <button type="button" (click)='deleteWarehouse(wh.id_warehouse)'> <mat-icon  type="button" matTooltip="Supprimer">delete_outline</mat-icon> </button>
            <button ><a [routerLink]="['/warehouse/',wh.id_warehouse]" [queryParams]="{id_warehouse:wh.id_warehouse }"> <mat-icon>description</mat-icon> </a></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



