<div class="maintab">
  <!-- Show it when there is no employee -->
  <div *ngIf="CustomerData.length == 0">
    <p> Il y a auncun clients .</p>
    <!-- <button class="btn btn-outline-primary" routerLink="/create-employee">
      Add Empoyee
    </button> -->
  </div>
  <div *ngIf="CustomerData.length !== 0">
    <h1 class="mb-3 text-center">
      Clients
      <button id="excel" mat-flat-button color="primary" type="button" (click)="exportExcel()" > <mat-icon> import_export</mat-icon>  Générer un Excel </button>
      <button id="new" mat-flat-button color="primary" [routerLink]="['/customer/newCustomer']" type="button"> <mat-icon>create</mat-icon> Créer un nouveau client </button></h1>
    <div class="col-md-12">
      <div id="search_bar">
        <div class="search_customer">
          Recherche :
          <input type="text" name="search" [(ngModel)]="searchCustomer" placeholder="Rechercher Client" >
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col"> N° Client  </th>
          <th scope="col"> Nom de client </th>
          <th scope="col"> Numéro de TVA </th>
          <th scope="col"> Adresse  </th>
          <th scope="col"> Ville  </th>
          <th scope="col"> Code postal  </th>
          <th scope="col"> Email </th>
          <th scope="col"> Numéro de téléphone </th>
          <th scope="col"> Action </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cus of CustomerData | filter:searchCustomer">

          <td> {{ cus.id_customer }} </td>
          <td> {{ cus.name }} </td>
          <td> {{ cus.vat }} </td>
          <td> {{ cus.adress }} </td>
          <td> {{ cus.city }} </td>
          <td> {{ cus.postal_code }} </td>
          <td> {{ cus.email }} </td>
          <td> {{ cus.phoneNumber }} </td>
          <td>
            <button type="button" (click)='deleteCustomer(cus.id_customer)' matTooltip="Supprimer"> <mat-icon>delete_outline</mat-icon> </button>
            <button><a [routerLink]="['/customer/',cus.id_customer]" [queryParams]="{id_customer:cus.id_customer }" matTooltip="Détails Clients"> <mat-icon color="white">description</mat-icon> </a></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
