<div>
  <h1> Nouvelle Offre de prix : </h1>
  <hr>
  <form [formGroup]="newQuotationsForm"  (ngSubmit)="createQuotations()">
    <mat-form-field>
      <mat-label for="departure_adress" > Adrese de départ : </mat-label>
      <input matInput type="text" class="form-control" formControlName="departure_adress">
      <mat-error *ngIf="newQuotationsForm.get('departure_adress')?.errors?.['required']">
        Error, le champ Adrese de départ ne peut PAS etre vide !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label  for="departure_city"> Ville de départ : </mat-label>
      <input matInput  type="text" formControlName="departure_city">
      <mat-error *ngIf="newQuotationsForm.get('departure_city')?.errors?.['required']">
        Error, le champ Ville de départ ne peut PAS etre vide !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label  for="departure_postal_code"> Code Postal : </mat-label>
      <input matInput  type="text" class="form-control" formControlName="departure_postal_code" />
      <mat-error *ngIf="newQuotationsForm.get('departure_postal_code')?.errors?.['required']">
        Error, le champ Code Postal de départ ne peut PAS etre vide !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label  for="destination_adress"> Adrese d'arrivée :  </mat-label>
      <input matInput  type="text" class="form-control" formControlName="destination_adress" />
      <mat-error *ngIf="newQuotationsForm.get('destination_adress')?.errors?.['required']">
        Error, le champ Adrese d'arrivée ne peut PAS etre vide !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label  for="destination_city"> Ville d'arrivée : </mat-label>
      <input matInput type="text" class="form-control" formControlName="destination_city">
      <mat-error *ngIf="newQuotationsForm.get('destination_city')?.errors?.['required']">
        Error, le champ Ville d'arrivée ne peut PAS etre vide !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label  for="destination_postal_code"> Code Postal : </mat-label>
      <input matInput type="text" class="form-control" formControlName="destination_postal_code">
      <mat-error *ngIf="newQuotationsForm.get('destination_postal_code')?.errors?.['required']">
        Error, le champ Code Postale ne peut PAS etre vide !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label  for="type_transport"> Type de transport : </mat-label>
      <input matInput type="text" class="form-control" formControlName="type_transport">
      <mat-error *ngIf="newQuotationsForm.get('type_transport')?.errors?.['required']">
        Error, le champ Type de transport ne peut PAS etre vide !
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label  for="price"> Prix : </mat-label>
      <input matInput type="text" class="form-control" formControlName="price">
      <mat-error *ngIf="newQuotationsForm.get('price')?.errors?.['required']">
        Error, le champ Prix ne peut PAS etre vide !
      </mat-error>
    </mat-form-field>

    <button mat-button color="primary" type="submit">Submit</button>
  </form>
</div>

