#return{
  margin: 1em;
}

#butupd{
  margin: 1em;
}

p{
  font-size: 20px;
  font-weight: bold;
  margin-left: 1em;
}

.flex-container {
  display: flex;
  align-content: space-between;
}

mat-expansion-panel-header{
  margin: 50px;
  padding: 2em;
  border-radius: 5px;
}

#carti{
  text-align: justify;
  border: solid;
  border-color: white;
  padding-left: 2em;
  margin-right: 2em;
  background-color: white;
  border-radius: 5px;
  margin: 2em;
  margin-left: 2em;
  padding: 2em;
  width: 90%;
}

#cartm{
  text-align: justify;
  border: solid;
  border-color: white;
  padding-left: 2em;
  margin-right: 2em;
  background-color: white;
  border-radius: 5px;
  margin: 2em;
  padding: 2em;
  width: 90%;
}
